nav
                ul
                    li <a href="/" title="Home" class==current?>Home</a>
                    li <a href="/about" title="About" class==current?("/about")>About</a>
                    li <a href="/contact" title="Contact" class==current?("/contact")>Contact</a>
                    LI <a href="/songs" title="Songs" class==current?"/songs">Songs</a>